Helppii/SampleData/RecentFavors/RecentFavors.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.RecentFavors" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.RecentFavors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RecentFavors" type="tns:RecentFavors" />
  <xs:complexType name="RecentFavors">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Name" name="Property1" type="xs:string" />
    <xs:attribute blend:FormatParameters="Images\FB" name="Property2" type="tns:Basic-Image" />
    <xs:attribute name="Property3" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>